!!! XML 
%rss{ :version => "2.0" } 
  %channel 
    %title= YaFeedr.config.title 
    %link= "http://#{request.host}" 
    %description!= "<![CDATA[#{YaFeedr.config.about}]]>" 
    %pubDate= @feed_items.first.created_at.rfc2822
    - @feed_items.each do |item|
      %item 
        %title= "Post on #{item[:feed][:name]}"
        %description!= "<![CDATA[#{render_item item}]]>"
        %guid{:isPermaLink => 'false'}= item.id 
        %pubDate= item.created_at.rfc2822
